@page
@model Laparoscope.Pages.Me.IndexModel;
@{
    ViewBag.Title = "Me";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Me</h2>

<h3>@User.Identity?.Name</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Type</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in User.Claims)
        {
            if (c.Type == "nonce") { continue; }
            if (c.Type == "c_hash") { continue; }
        <tr>
            <td>@c.Type</td>
            <td>@c.Value</td>
        </tr>
        }
    </tbody>
</table>



