
@{
    ViewBag.Title = "Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Me</h2>

<h3>@ViewBag.UserId.Name</h3>
<table>
    <thead>
    
    <td>Type</td>
    <td>Value</td>
    
    </thead>
    <tbody>
        @foreach (var c in ViewBag.UserId.Claims)
        {
            if(c.Type == "nonce") { continue; }
            if (c.Type == "c_hash") { continue; }
        <tr>
            <td>@c.Type</td>
            <td>@c.Value</td>
        </tr>
        }
    </tbody>
</table>

