@using System.Security.Claims;
@using aadcapi.Utils;
@if (Request.IsAuthenticated)
{
    ClaimsPrincipal cp = User as ClaimsPrincipal;
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink(cp.FindFirst(Globals.NameClaimType).Value, "", "Me", routeValues: null, htmlAttributes: new { title = "My Claims", @class= "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sign out", "SignOut", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}

