
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

@foreach (var k in HttpContext.Current.Request.QueryString.AllKeys)
{
    <strong>@k.ToString()</strong>
    @HttpContext.Current.Request.QueryString[k]
    <br />
}