
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Configuration</h2>

<h3>Globals:</h3>

<table class="table table-striped">
    <thead class="">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in ViewBag.GlobalProps)
        {
            <tr>
                <td>@p.Name</td>
                <td>@( SMM.Helper.Extensions.Like(p.Name, "*Secret*") ? "**************" : p.GetValue(null, null) )</td>
            </tr>
        }
    </tbody>
</table>