@*// ------------- Server Connector Component ------------- //*@
<script type="text/x-template" id="server-connector-template">
    <div>
        <div class="d-flex flex-row" style="padding-top:0.5em">
            <ul id="configTab" class="nav nav-tabs" role="tablist">
                <!-- Connector Config -->
                <li class="nav-item active">
                    <a class="nav-link" :id="'tab-config-' + connector.Identifier" data-toggle="tab"
                       :href="'#connectorConfig-' + connector.Identifier" role="tab"
                       aria-controls="Connector Config" aria-selected="true">
                        Connector Config
                    </a>
                </li>

                <!-- CSObject Lookup - Only shown for AD connectors -->
                <li class="nav-item" v-if="connector.Type == 'AD'">
                    <a class="nav-link" :id="'tab-conn-csobject-lookup-' + connector.Identifier" data-toggle="tab"
                       :href="'#csObjectLookup' + connector.Identifier" role="tab"
                       aria-controls="C S Object Lookup" aria-selected="true">
                        CSObject Lookup
                    </a>
                </li>

                <!-- Hash Sync Status - Only shown for AD connectors -->
                <li class="nav-item" v-if="connector.Type == 'AD'">
                    <a class="nav-link" :id="'tab-conn-hash-sync-' + connector.Identifier" data-toggle="tab"
                       :href="'#hash-sync-' + connector.Identifier" role="tab"
                       aria-controls="Connector Hash Sync Status" aria-selected="true">
                        Hash Sync
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content d-flex flex-row">
            <!-- Connector Config Content -->
            <div :id="'connectorConfig-' + connector.Identifier" class="tab-pane active">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr><td><strong>{{connector.Name}}</strong></td><td></td></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key, i) in connector">
                            <td>{{ key }}</td>
                            <td v-if="key == 'AttributeInclusionList'">
                                <div :id="'accordion' + key">
                                    <div class="card">
                                        <div class="card-header" :id="'heading' + key">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key" aria-expanded="false" :aria-controls="'collapse' + key">
                                                    Selected Attributes {{value.length}}
                                                </button>
                                            </h5>
                                        </div>

                                        <div :id="'collapse' + key" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key">
                                            <div class="card-body">
                                                <ul class="no-bullets">
                                                    <li v-for="(entry) in value.sort()">{{entry}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td v-else-if="key == 'ObjectInclusionList'">
                                <ul class="no-bullets">
                                    <li v-for="(entry) in value.sort()">{{entry}}</li>
                                </ul>
                            </td>
                            <td v-else-if="key == 'Partitions'">
                                <object-table :record="value" :expand="['ConnectorPartitionScope']" :list="['ObjectClasses','ContainerInclusionList','ContainerExclusionList']"></object-table>
                            </td>
                            <td v-else-if="key == 'AnchorConstructionSettings'">
                                <wide-object-table :record="value" :header="['ObjectType','Attributes','Locked']"></wide-object-table>
                            </td>
                            <td v-else-if="key == 'ConnectivityParameters'">
                                <object-table :record="value"></object-table>
                            </td>
                            <td v-else>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- CSObject Lookup Content -->
            <div :id="'csObjectLookup' + connector.Identifier" class="tab-pane" v-if="connector.Type == 'AD'">
                <csobject-lookup :thisConnector="connector"></csobject-lookup>
            </div>

            <!-- Connector Hash Sync Status Content -->
            <div :id="'hash-sync-' + connector.Identifier" class="tab-pane" v-if="connector.Type == 'AD'">
                <object-table record="{'foo'='bar'}"></object-table>
            </div>

        </div>
    </div>
</script>

<script type="text/javascript">
    Vue.component('server-connector', {
        template: '#server-connector-template',
        props: ['connector', 'hash-sync'],
        data() {
            return {
            }
        }
    });
</script>


@*// ------------- Object Table Component ------------- //*@
<script type="text/x-template" id="object-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead v-if="title">
                <tr><td><strong>{{ title }}</strong></td><td></td></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record">
                    <td>{{ key }}</td>
                    <td v-if="expand && expand.includes(key)">
                        <object-table :record="value" :list="list"></object-table>
                    </td>
                    <td v-else-if="list && list.includes(key)">
                        <ul class="no-bullets">
                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                        </ul>
                    </td>
                    <td v-else-if="key && accordion.includes(key)">
                        <div :id="'accordion' + key">
                            <div class="card">
                                <div class="card-header" :id="'heading' + key">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key" aria-expanded="false" :aria-controls="'collapse' + key">
                                            Selected Attributes {{value.length}}
                                        </button>
                                    </h5>
                                </div>

                                <div :id="'collapse' + key" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key">
                                    <div class="card-body">
                                        <ul class="no-bullets">
                                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td v-else>{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('object-table', {
        template: '#object-table-template',
        props: ['record', 'title', 'expand', 'list', 'accordion'],
        data() {
            return {

            }
        }
    });
</script>


@*// ------------- Wide Object Table Component ------------- //*@
<script type="text/x-template" id="wide-object-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead>
                <tr v-if="header"><th v-for="(objKey, key, i) in header">{{objKey}}</th></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record"><td v-for="(h, key, i) in header"> {{ value[h] }} </td></tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('wide-object-table', {
        template: '#wide-object-table-template',
        props: ['record', 'title', 'header'],
        data() {
            return {

            }
        }
    });
</script>



@*// ------------- CSObject Table Component ------------- //*@
<script type="text/x-template" id="csobject-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead v-if="title">
                <tr><td><strong>{{ title }}</strong></td><td></td></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record">
                    <td v-if="key && !skip.includes(key)">{{ key }}</td>
                    <td v-if="expand && expand.includes(key)">
                        <object-table :record="value" :list="list"></object-table>
                    </td>
                    <td v-else-if="list && list.includes(key)">
                        <ul class="no-bullets">
                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                        </ul>
                    </td>
                    <td v-else-if="key && accordion.includes(key)">
                        <div :id="'accordion' + key + salt">
                            <div class="card">
                                <div class="card-header" :id="'heading' + key">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key + salt" aria-expanded="false" :aria-controls="'collapse' + key">
                                            Selected Attributes {{value.length}}
                                        </button>
                                    </h5>
                                </div>

                                <div :id="'collapse' + key + salt" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key + salt">
                                    <div class="card-body">
                                        <wide-object-table :record="value" :header="['Name','Values']"></wide-object-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td v-else-if="key && skip.includes(key)"></td>
                    <td v-else>{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('csobject-table', {
        template: '#csobject-table-template',
        props: ['record', 'title', 'expand', 'salt', 'list', 'skip', 'accordion'],
        data() {
            return {

            }
        }
    });
</script>


@*// ------------- CSObject Lookup Component ------------- //*@
<script type="text/x-template" id="csobject-lookup-template">
    <div>
        <p>{{ thisConnector.Name }}</p>

        @*<input type="text"
            placeholder="DN of your record"
            pattern="^(?<RDN>(?<Key>(?:\\[0-9A-Fa-f]{2}|\\\[^=\,\\]|[^=\,\\]+)+)\=(?<Value>(?:\\[0-9A-Fa-f]{2}|\\\[^=\,\\]|[^=\,\\]+)+))(?:\s*\,\s*(?<RDN>(?<Key>(?:\\[0-9A-Fa-f]{2}|\\\[^=\,\\]|[^=\,\\]+)+)\=(?<Value>(?:\\[0-9A-Fa-f]{2}|\\\[^=\,\\]|[^=\,\\]+)+)))*$"
            v-model="dn" />*@
        <input class="d-lg-flex"
               type="text"
               placeholder="DN of your record"
               v-model="dn" />

        <button type="button" 
                class="btn btn-outline-primary" 
                v-on:click="resolveCsObjectToMv">Lookup</button>

        <csobject-table v-for="(c) in cs" 
                        :record="c" 
                        :salt="getRandomInt(0,100).toString()" 
                        :accordion="['Attributes']"
                        :skip="['Lineage']" ></csobject-table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('csobject-lookup', {
        template: '#csobject-lookup-template',
        props: ['thisConnector', 'distinguishedName'],
        methods: {
            resolveCsObjectToMv() {
                var uri = this.apiCSObject + this.dn;
                $.getJSON(uri, json => {
                    this.cs = json;
                    console.log("lookup done");
                });
            },
            getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
            }
        },
        data: function () {
            return {
                apiCSObject: "/api/CSObject?ConnectorName=" + this.thisConnector.Name + "&DistinguishedName=",
                dn: '',
                cs: [],
                mv: {}
            }
        }
    });
</script>