@Scripts.Render("~/Scripts/VueComponents.js")
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="server" class="row container fluid">


    <div class="row progress flex-column p-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             :aria-valuenow="progLoad" aria-valuemin="0" aria-valuemax="100" :style="{width: progLoad + '%'}"></div>
    </div>


    <div class="d-flex flex-row" style="padding-top:0.5em">
        <!-- Vertical Tabs on the Left -->
        <div class="flex-column">
            <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
                <!-- Sync Scheduler Nav Tab -->
                <li class="nav-item">
                    <a class="nav-link active" id="sched-tab" data-toggle="tab" href="#syncScheduler" role="tab" aria-orientation="vertical" aria-controls="Sync Scheduler" aria-selected="true">Sync Scheduler</a>
                </li>

                <!-- Hash Sync Nav Tab -->
                <li class="nav-item">
                    <a v-bind:class="'nav-link' + (hashSyncEnabled ? '' : ' disabled')" id="hashSync-tab" data-toggle="tab" href="#hashSync" role="tab" aria-orientation="vertical" aria-controls="Password Hash Sync" aria-selected="true">Password Hash Sync</a>
                </li>

                <!-- Sync Connector Nav Tabs -->
                <li class="nav-item" v-for="(c) in connectors">
                    <a class="nav-link" :id="'tab-' + c.Identifier" data-toggle="tab" :href="'#conn-' + c.Identifier" role="tab" :aria-controls="c.Name" aria-selected="false">{{c.Name}}</a>
                </li>
            </ul>
        </div>

        <!-- Tab Content on the Right -->
        <div class="col-9">
            <div id="myTabContent" class="tab-content d-flex flex-column">

                <!-- Sync Scheduler Tab -->
                <div id="syncScheduler" class="tab-pane active" role="tabpanel" aria-labelledby="sched-tab">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <!-- Scheduler Status -->
                            <object-table class="table table-responsive-md p-2" :record="scheduler" title="Scheduler"></object-table>
                            <!-- Company Features -->
                            <object-table class="table table-responsive-sm p-2" :record="companyFeatures" title="Company Features"></object-table>
                        </div>
                        <div class="d-flex flex-row">
                            <button class="btn btn-secondary p-2" id="syncBtn" type="button" v-on:click="startSync" style="margin-left:0.5em; margin-bottom:12px;">Start Sync</button>
                            <div class="p-2" style="float:right">{{schedMsg}}</div>
                        </div>
                    </div>
                </div>

                <!-- Hash Sync Status -->
                <div id="hashSync" class="tab-pane flex-column container" role="tabpanel" aria-labelledby="hashSync-tab">
                    <ul class="no-bullets" v-if="hashSyncEnabled">
                        <li v-for="value in hashSync"><object-table :record="value" :title="'Domain: ' + value.DN"></object-table></li>
                    </ul>
                </div>

                <!-- Sync Connector Tabs : will show 1 or more depending on your role -->
                <div :id="'conn-' + c.Identifier" class="tab-pane container fluid" v-for="(c) in connectors" role="tabpanel">
                    <server-connector :connector="c" :hash-sync="hashSync"></server-connector>
                </div>
            </div>
        </div>

        <hr />
        <!--Global status messages show at bottom of page-->
        <div>{{statusMsg ? new Date().toLocaleTimeString() + " : " + statusMsg : ''}}</div>
    </div>
</div>

<!-- These are defined in _VueComponents.cshtml and imported as a partial here. -->
@Html.Partial("_VueComponents")


<!-------------------  Main Vue App -------------------->
<script type="text/javascript">

    const apiScheduler = "/api/Scheduler/";
    const apiStartSync = "/api/StartSync/";
    const apiConnector = "/api/Connector/";
    const apiCompanyFeatures = "/api/AADCompanyFeature/";
    const apiHashSyncStatus = "/api/PartitionPasswordSyncState/"

    var server = new Vue({
        el: '#server',
        data: {

            scheduler: {},
            schedMsg: "",
            companyFeatures: {},
            hashSyncEnabled: false,
            hashSync: [],
            connectors: [],
            statusMsg: "",

            // Loading Progress Bars
            progLoad: 25,
        },
        computed: {
            progressWidth: function () {
                return ""
            }
        },
        mounted: function () {
            this.refreshServerStatus();
        },
        methods: {
            refreshServerStatus() {
                this.fetchScheduler();
                this.fetchCompanyFeatures();
                this.fetchConnectors();
            },
            // Get sync scheduler status.
            fetchScheduler() {
                $.getJSON(apiScheduler, json => {
                    this.scheduler = json;
                    this.progLoad += 25;
                });
            },
            // List all connectors you have rights to.
            fetchConnectors() {
                $.getJSON(apiConnector, json => {
                    this.connectors = json;
                    this.progLoad += 25;
                });
            },
            // Show feature configurations that are AAD tenant wide.
            fetchCompanyFeatures() {
                $.getJSON(apiCompanyFeatures, json => {
                    this.companyFeatures = json;
                    this.hashSyncEnabled = json.PasswordHashSync;
                    if (this.hashSyncEnabled) { this.fetchHashSyncStatus(); }
                    this.progLoad += 25;
                });
            },
            // List the hash sync status for connectors you have rights to.
            fetchHashSyncStatus() {
                $.getJSON(apiHashSyncStatus, json => {
                    this.hashSync = json;
                });
            },
            // Attempt to kick off a delta sync.
            startSync() {
                this.schedMsg = '';

                $.post(apiStartSync).then(response => {
                    var btn = document.getElementById("syncBtn");
                    var btnClass = response.Started ? 'btn-success' : 'btn-warning';
                    btn.classList.remove('btn-secondary');
                    if (response.Started) {
                        btn.classList.remove('btn-warning');
                    } else {
                        btn.classList.remove('btn-success');
                    }
                    btn.classList.add(btnClass);

                    this.schedMsg = response.Result;
                })
            }
        },
        watch: {
            // Remove the progress bar after everything is fetched.
            progLoad: function () {
                if (this.progLoad >= 100) {
                    $(".progress").fadeOut(200);
                }
            }
        }
    });


    // ---------------- Layout Modifications ----------------- //
    // Remove bottom <hr> from layout so we can put our own things below it
    setTimeout(() => {
        var footerLine = document.getElementById("footerLine");
        if (footerLine) { footerLine.remove(); }
    }, 250);

    // Make content full width since it's displaying settings that may be wider than the viewport
    var parent = document.getElementById('renderBody');
    parent.classList.remove('container')
    parent.classList.remove('container-fluid')

</script>
<style type="text/css">
    /* From: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
    ul.no-bullets {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
