@*// ------------- Object Table Component ------------- //*@
<script type="text/x-template" id="object-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead v-if="title">
                <tr><td><strong>{{ title }}</strong></td><td></td></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record">
                    <td>{{ expandOnCase(key) }}</td>
                    <td v-if="expand && expand.includes(key)">
                        <object-table :record="value" :list="list"></object-table>
                    </td>
                    <td v-else-if="list && list.includes(key)">
                        <ul class="no-bullets">
                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                        </ul>
                    </td>
                    <td v-else>{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('object-table', {
        template: '#object-table-template',
        props: ['record', 'title', 'expand', 'list'],
        data() {
            return {
            }
        },
        methods: {
            expandOnCase (input) {
                return input.replace(/([a-z])([A-Z])/g, '$1 $2')
            }
        },
    });
</script>


@*// ------------- Server Connector Component ------------- //*@
<script type="text/x-template" id="server-connector-template">
    <div>
        <div class="d-flex flex-row" style="padding-top:0.5em">
            <ul id="configTab" class="nav nav-tabs" role="tablist">
                <!-- Connector Config -->
                <li class="nav-item">
                    <a class="nav-link active" :id="'tab-config-' + connector.Identifier" data-toggle="tab"
                       :href="'#connectorConfig-' + connector.Identifier" role="tab"
                       aria-controls="Connector Config" aria-selected="true">
                        Connector Config
                    </a>
                </li>

                <!-- CSObject Lookup -->
                <li class="nav-item">
                    <a class="nav-link" :id="'tab-conn-csobject-lookup-' + connector.Identifier" data-toggle="tab"
                       :href="'#csObjectLookup' + connector.Identifier" role="tab"
                       aria-controls="C S Object Lookup" aria-selected="true">
                        CSObject Lookup
                    </a>
                </li>

                <!-- Hash Sync Status - Only shown for AD connectors -->
                <li class="nav-item" v-if="connector.Type == 'AD'">
                    <a class="nav-link" :id="'tab-conn-hash-sync-' + connector.Identifier" data-toggle="tab"
                       :href="'#hash-sync-' + connector.Identifier" role="tab"
                       aria-controls="Connector Hash Sync Status" aria-selected="true">
                        Hash Sync
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content d-flex flex-row">
            <!-- Connector Config Content -->
            <div :id="'connectorConfig-' + connector.Identifier" class="tab-pane flex-fill active">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr><td><strong>{{connector.Name}}</strong></td><td></td></tr>
                    </thead>
                    <tbody>
                        <!--
                            Enumerate the connector attributes and conditionally
                            format some values as a list. AttributeInclusionList for
                            instance can be huge and doesn't make sense to show by default
                            so it is rendered as a collapsed accordion element.

                            Skip properties that are not useful for display or are too complex.
                        -->
                        <tr v-for="(value, key, i) in connector" v-if="!shouldSkipProperty(key)">
                            <td>{{ expandOnCase(key) }}</td>
                            <td v-if="key == 'AttributeInclusionList'">
                                <div :id="'accordion' + key">
                                    <div class="card">
                                        <div class="card-header" :id="'heading' + key">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key" aria-expanded="false" :aria-controls="'collapse' + key">
                                                    Selected Attributes {{value.length}}
                                                </button>
                                            </h5>
                                        </div>

                                        <div :id="'collapse' + key" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key">
                                            <div class="card-body">
                                                <ul class="no-bullets">
                                                    <li v-for="(entry) in value.sort()">{{entry}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--
                                Show ObjectInclusionList as an unsorted list.
                                Should only have a few values so it's not collapsed.
                            -->
                            <td v-else-if="key == 'ObjectInclusionList'">
                                <ul class="no-bullets">
                                    <li v-for="(entry) in value.sort()">{{entry}}</li>
                                </ul>
                            </td>
                            <!--
                                Partitions is an array of ConnectorPartition objects.
                                Each partition contains complex nested information so we render
                                them as expandable sections with nested object tables.
                            -->
                            <td v-else-if="key == 'Partitions'">
                                <div v-if="Array.isArray(value) && value.length > 0">
                                    <div v-for="(partition, index) in value" :key="partition.Identifier" class="mb-3">
                                        <h6>{{ partition.Name || 'Partition ' + (index + 1) }}</h6>
                                        <table class="table table-sm table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td><strong>DN</strong></td>
                                                    <td>{{ partition.DN }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Selected</strong></td>
                                                    <td>{{ partition.Selected }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Is Domain</strong></td>
                                                    <td>{{ partition.IsDomain }}</td>
                                                </tr>
                                                <tr v-if="partition.PreferredDCs && partition.PreferredDCs.length > 0">
                                                    <td><strong>Preferred DCs</strong></td>
                                                    <td>
                                                        <ul class="no-bullets">
                                                            <li v-for="dc in partition.PreferredDCs">{{ dc }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr v-if="partition.ConnectorPartitionScope">
                                                    <td><strong>Object Classes</strong></td>
                                                    <td>
                                                        <ul class="no-bullets">
                                                            <li v-for="objClass in partition.ConnectorPartitionScope.ObjectClasses">{{ objClass }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr v-if="partition.ConnectorPartitionScope && partition.ConnectorPartitionScope.ContainerInclusionList && partition.ConnectorPartitionScope.ContainerInclusionList.length > 0">
                                                    <td><strong>Container Inclusion List</strong></td>
                                                    <td>
                                                        <ul class="no-bullets">
                                                            <li v-for="container in partition.ConnectorPartitionScope.ContainerInclusionList">{{ container }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr v-if="partition.ConnectorPartitionScope && partition.ConnectorPartitionScope.ContainerExclusionList && partition.ConnectorPartitionScope.ContainerExclusionList.length > 0">
                                                    <td><strong>Container Exclusion List</strong></td>
                                                    <td>
                                                        <ul class="no-bullets">
                                                            <li v-for="container in partition.ConnectorPartitionScope.ContainerExclusionList">{{ container }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div v-else>
                                    <em>No partitions configured</em>
                                </div>
                            </td>
                            <!--
                                AnchorConstructionSettings is a keyed collection that contains
                                a list of anchor settings. We display it as a table showing
                                object types and their anchor attributes.
                            -->
                            <td v-else-if="key == 'AnchorConstructionSettings'">
                                <div v-if="value && value.KeyedCollectionAsList && value.KeyedCollectionAsList.length > 0">
                                    <wide-object-table :record="value.KeyedCollectionAsList" :header="['ObjectType','Attributes','Locked']"></wide-object-table>
                                </div>
                                <div v-else-if="value && Array.isArray(value) && value.length > 0">
                                    <!-- Fallback if it's a direct array -->
                                    <wide-object-table :record="value" :header="['ObjectType','Attributes','Locked']"></wide-object-table>
                                </div>
                                <div v-else>
                                    <em>Not configured</em>
                                </div>
                            </td>
                            <!--
                                RunProfiles is an array showing the sync profiles configured
                                for this connector.
                            -->
                            <td v-else-if="key == 'RunProfiles'">
                                <div v-if="Array.isArray(value) && value.length > 0">
                                    <ul class="no-bullets">
                                        <li v-for="profile in value">{{ profile.Name }}</li>
                                    </ul>
                                </div>
                                <div v-else>
                                    <em>No run profiles configured</em>
                                </div>
                            </td>
                            <!--
                                ConnectivityParameters, GlobalParameters, etc. are keyed collections.
                                Display the KeyedCollectionAsList if available.
                            -->
                            <td v-else-if="key == 'ConnectivityParameters' || key == 'GlobalParameters' || key == 'CapabilityParameters' || key == 'SchemaParameters'">
                                <div v-if="value && value.KeyedCollectionAsList && value.KeyedCollectionAsList.length > 0">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="param in value.KeyedCollectionAsList">
                                                <td>{{ param.Name }}</td>
                                                <td>{{ param.Value }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>
                                    <em>Not configured</em>
                                </div>
                            </td>
                            <!--
                                ExtensionConfiguration shows connector extension settings.
                                Only show if it contains meaningful data.
                            -->
                            <td v-else-if="key == 'ExtensionConfiguration'">
                                <div v-if="value && (value.ExtensionFileName || value.PasswordManagementEnabled)">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr v-if="value.ExtensionFileName">
                                                <td><strong>Extension File</strong></td>
                                                <td>{{ value.ExtensionFileName }}</td>
                                            </tr>
                                            <tr v-if="value.AssemblyVersion">
                                                <td><strong>Assembly Version</strong></td>
                                                <td>{{ value.AssemblyVersion }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Password Management</strong></td>
                                                <td>{{ value.PasswordManagementEnabled ? 'Enabled' : 'Disabled' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>
                                    <em>No extension configured</em>
                                </div>
                            </td>
                            <!--
                                For simple values or objects we haven't specifically handled,
                                just display them as-is (Vue will call toString() on objects).
                            -->
                            <td v-else>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- CSObject Lookup Content -->
            <div :id="'csObjectLookup' + connector.Identifier" class="tab-pane flex-fill">
                <csobject-lookup :thisConnector="connector"></csobject-lookup>
            </div>

            <!-- Connector Hash Sync Status Content -->
            <div :id="'hash-sync-' + connector.Identifier" class="tab-pane flex-fill" v-if="connector.Type == 'AD'">
                <!-- 
                    Note: this wasn't working as an object-table element, not sure why so it's going in-line.
                    If you figure out how to fix it, I owe you a taco. - Sean
                -->    
                <table class="table table-responsive-sm">
                    <tbody>
                        <tr v-for="(value, key, i) in getHashSyncForThisConnector">
                            <td>{{ expandOnCase(key) }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    Vue.component('server-connector', {
        template: '#server-connector-template',
        props: ['connector', 'hashsync'],
        computed: {
            // Enumerate the hashsync collection passed in from the global page
            // looking for the hash sync record related to this connector.
            // Return that record if it's found. Should render in an object-table.
            getHashSyncForThisConnector: function () {
                for (var i in this.hashsync) {
                    var v = this.hashsync[i];
                    if (v.ConnectorId == this.connector.Identifier) {
                        return v;
                    }
                }
            }
        },
        data() {
            return {
            }
        },
        methods: {
            expandOnCase(input) {
                return input.replace(/([a-z])([A-Z])/g, '$1 $2')
            },
            shouldSkipProperty(key) {
                // Skip properties that are not useful for UI display or too complex
                const skipList = [
                    'Schema',                      // Too complex, mostly empty
                    'AllParameterDefinitions',     // Usually empty or redundant
                    'ComponentProvisioningMappings', // Usually null
                    'Identifier',                  // Internal GUID, not user-friendly
                    'Version',                     // Internal version numbers
                    'InternalVersion',
                    'FormatVersion',
                    'IsUpgradeOrImportScenario',   // Internal flag
                    'ListName',                    // Usually empty
                    'ConnectorTypeName'            // Redundant with Type
                ];
                return skipList.includes(key);
            }
        }
    });
</script>


@*// ------------- Object Table Component ------------- //*@
<script type="text/x-template" id="accordion-object-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead v-if="title">
                <tr><td><strong>{{ title }}</strong></td><td></td></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record">
                    <td>{{ key }}</td>
                    <td v-if="expand && expand.includes(key)">
                        <object-table :record="value" :list="list"></object-table>
                    </td>
                    <td v-else-if="list && list.includes(key)">
                        <ul class="no-bullets">
                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                        </ul>
                    </td>
                    <td v-else-if="key && accordion && accordion.includes(key)">
                        <div :id="'accordion' + key + seed">
                            <div class="card">
                                <div class="card-header" :id="'heading' + key + seed">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key" aria-expanded="false" :aria-controls="'collapse' + key + seed">
                                            {{value.length}} Values
                                        </button>
                                    </h5>
                                </div>

                                <div :id="'collapse' + key + seed" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key + seed">
                                    <div class="card-body">
                                        <ul class="no-bullets">
                                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td v-else>{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('accordion-object-table', {
        template: '#accordion-object-table-template',
        props: ['record', 'title', 'expand', 'list', 'accordion', 'seed'],
        methods: {

        },
        data() {
            return {
            }
        }
    });
</script>


@*// ------------- Wide Object Table Component ------------- //*@
<script type="text/x-template" id="wide-object-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead>
                <tr v-if="header"><th v-for="(objKey, key, i) in header">{{objKey}}</th></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record"><td v-for="(h, key, i) in header"> {{ value[h] }} </td></tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('wide-object-table', {
        template: '#wide-object-table-template',
        props: ['record', 'title', 'header'],
        data() {
            return {

            }
        }
    });
</script>



<!--
    This can be used to look up a user/group/computer connector space record
    provided you have rights to the connector and know the object's distinguished
    name. If you do not have rights to the connector it should return unauthorized.
    That said, it should also have never shown that connector in the UI.

    The authorization rules for /api/Connector and /api/CSObject, /api/MVObject are
    separate rules that key off different properties on the results. Connectors
    are generally keyed on the Name property, where CSObjects would be by ConnectorName.
    An authorization rule whose Context=*Name would match both and should work for this.
    MVObjects are available to any users who are authenticated since records can
    only be resolved by GUID and those aren't easily guessable values. This isn't
    satisfying from an infosec standpoint but only specific people should have access
    to this API so it's a compromise worth making right now.
-->
@*// ------------- Sync Object Table Component ------------- //*@
<script type="text/x-template" id="syncobject-table-template">
    <div>
        <table class="table table-responsive-sm">
            <thead v-if="title">
                <tr><td><strong>{{ title }}</strong></td><td></td></tr>
            </thead>
            <tbody>
                <tr v-for="(value, key, i) in record">
                    <td v-if="key && (!skip || !skip.includes(key))">{{ key }}</td>

                    <!-- Lineage for MVObject Reference -->
                    <td v-if="key && key == 'Lineage' && mvobject">
                        <wide-object-table :record="value" :header="['ConnectorName','ConnectedCsObjectDN']"></wide-object-table>
                    </td>

                    <!-- Lineage for CSObject Reference -->
                    <td v-else-if="key && key == 'Lineage' && !mvobject">
                        <wide-object-table :record="value" :header="['SyncRuleName','Operation']"></wide-object-table>
                    </td>

                    <td v-else-if="key && key == 'AnchorValue'">
                        <a :href="'https://gchq.github.io/CyberChef/#recipe=From_Base64(\'A-Za-z0-9%2B/%3D\',true)To_Hex(\'Space\',16)&input=' + btoa(value)" target="_blank">{{value}}</a>
                    </td>

                    <td v-else-if="expand && expand.includes(key)">
                        <object-table :record="value" :list="list"></object-table>
                    </td>
                    <td v-else-if="list && list.includes(key)">
                        <ul class="no-bullets">
                            <li v-for="(entry) in value.sort()">{{entry}}</li>
                        </ul>
                    </td>
                    <td v-else-if="key && accordion.includes(key)">
                        <div :id="'accordion' + key + seed">
                            <div class="card">
                                <div class="card-header" :id="'heading' + key">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" :data-target="'#collapse' + key + seed" aria-expanded="false" :aria-controls="'collapse' + key + seed">
                                            {{value.length}} Values
                                        </button>
                                    </h5>
                                </div>

                                <div :id="'collapse' + key + seed" class="collapse" :aria-labelledby="'heading' + key" :data-parent="'#accordion' + key + seed">
                                    <div class="card-body">
                                        <wide-object-table v-if="(mvobject)" :record="value" :header="['Name','ConnectorName','Values']"></wide-object-table>
                                        <wide-object-table v-else :record="value" :header="['Name','Values']"></wide-object-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td v-else-if="key && skip && skip.includes(key)"></td>

                    <td v-else>{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('syncobject-table', {
        template: '#syncobject-table-template',
        props: ['record', 'title', 'expand', 'seed', 'list', 'skip', 'accordion', 'mvobject'],
        methods: {
            btoa: function (input) {
                return window.btoa(input);
            }
        },
        data() {
            return {
            }
        }
    });
</script>


@*// ------------- CSObject Lookup Component ------------- //*@
<script type="text/x-template" id="csobject-lookup-template">
    <div class="flex-column">
        <br />
        <input class="flex-row col-md-8"
               type="text"
               pattern="^((CN=([^,]*)),)?((((?:CN|OU)=[^,]+,?)+),)?((DC=[^,]+,?)+)$"
               placeholder="DN of your record"
               v-on:keyup.enter="resolveCsObjectToMv"
               v-model="dn" />
        <br />
        <button type="button"
                class="btn btn-outline-primary flex-row"
                v-on:click="resolveCsObjectToMv">
            Lookup
        </button>

        <syncobject-table class="flex-row"
                          :record="cs"
                          :seed="getRandomInt(0,100).toString()"
                          :accordion="['Attributes']"></syncobject-table>

        <syncobject-table v-if="mv"
                          class="flex-row"
                          title="Metaverse Object"
                          :record="mv"
                          :seed="getRandomInt(0,100).toString()"
                          :accordion="['Attributes']"
                          mvobject="true"></syncobject-table>
    </div>
</script>

<script type="text/javascript">
    Vue.component('csobject-lookup', {
        template: '#csobject-lookup-template',
        props: ['thisConnector', 'distinguishedName'],
        methods: {
            resolveCsObjectToMv() {

                // Lookup connector space (CS) record by distinguished name.
                // This would be the user, group or computer object that is synced from
                // Active Directory. There is no method for searching, it has to be DN.
                var csuri = this.apiCSObject + this.dn;
                $.getJSON(csuri, json => {
                    // If resolved, set things up.
                    if (json) {
                        this.cs = json;
                        console.log("cs lookup done");
                        return this.cs;
                    }
                }).then((cs) => {
                    // If the CS object was retrieved and it has a ConectedMVObjectId, look up
                    // the metaverse record that is connected to it. This can be used to
                    // troubleshoot issues where a user isn't syncing to the cloud correctly
                    // as the metaverse record will show if it is also projected to the
                    // AAD connector space.
                    if (cs) {
                        if (cs.ConnectedMVObjectId) {
                            var mvuri = this.apiMVObject + cs.ConnectedMVObjectId;
                            $.getJSON(mvuri, json => {
                                this.mv = json;
                                console.log("mv lookup done");
                            });
                        }                        
                    }
                });

            },
            getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
            }
        },
        data: function () {
            return {
                apiCSObject: "/api/CSObject?ConnectorName=" + this.thisConnector.Name + "&DistinguishedName=",
                apiMVObject: "/api/MVObject/",
                dn: '',
                cs: null,
                mv: null,
            }
        }
    });
</script>