@page
@model Laparoscope.Pages.IndexModel
@{
    ViewData["Title"] = "Laparoscope";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">
        This app was made to improve how we all manage our identities.
        If something isn't working for you please contact the service desk.
        If you've found an application bug, feel free to file an issue on Github.
    </p>
    <p>If you need access to the application or api, please contact your system administrator.</p>
    <a class="btn btn-primary btn-lg" role="button" href="https://github.com/sean-m/laparoscope/issues">Github Issues</a>
</div>
